# Copy this file to .env and adjust values for your environment

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_in_production_please
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://app:secret@mysql:3306/lift_app?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages
###< symfony/messenger ###
